version: "3.9"

services:

  mongo:
    image: mongo
    container_name: comp3123-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db


  backend:
    build: ./backend
    container_name: comp3123-backend
    restart: always
    ports:
      - "8081:8081"
    depends_on:
      - mongo
    environment:
      - PORT=8081
      - MONGO_URL=mongodb://mongo:27017/comp3123
      - JWT_SECRET=comp3123_secret_key



  frontend:
    build: ./frontend
    container_name: comp3123-frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_BASE_URL=http://localhost:8081

volumes:
  mongo-data: